In [28]:
import pandas as pd
import numpy as np

In [29]:
athlete_df =  pd.read_csv(r"D:\projects\olympic_history_120_years\athlete_events.csv")

In [16]:
athlete_df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [30]:
noc_df = pd.read_csv(r"D:\projects\olympic_history_120_years\noc_regions.csv")

In [18]:
athlete_df.isna().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

In [19]:

athlete_df = athlete_df.fillna({'Age': athlete_df['Age'].median(),
                       'Height': athlete_df['Height'].median(),
                       'Weight': athlete_df['Weight'].median(),
                       'Medal': '0'})

In [20]:
noc_df.isna().sum()

NOC         0
region      3
notes     209
dtype: int64

In [32]:
noc_df = noc_df.fillna({'notes': 'No notes',
                        'region': 'Unknown region'})

In [22]:
athlete_df.isna().sum()

ID        0
Name      0
Sex       0
Age       0
Height    0
Weight    0
Team      0
NOC       0
Games     0
Year      0
Season    0
City      0
Sport     0
Event     0
Medal     0
dtype: int64

In [23]:
noc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NOC     230 non-null    object
 1   region  230 non-null    object
 2   notes   230 non-null    object
dtypes: object(3)
memory usage: 5.5+ KB

In [24]:
athlete_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     271116 non-null  float64
 4   Height  271116 non-null  float64
 5   Weight  271116 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   271116 non-null  object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [25]:
athlete_df = athlete_df.to_csv(r"D:\projects\olympic_history_120_years\athlete_events_cleaned.csv", index=False)

In [34]:
noc_df = noc_df.to_csv(r"D:\projects\olympic_history_120_years\noc_regions_cleaned.csv", index=False)

In [33]:
noc_df.isna().sum()

NOC       0
region    0
notes     0
dtype: int64